div#div_login{
    background-color: #22242a;
    padding: 10px 60px 0px 60px;
    border-radius: 30px;
}
/*div#staticBackdrop{*/

/*position: absolute;*/

/*    left: 25%;*/

/*}*/
/*div#staticBackdrop1{*/

/*    position: absolute;*/

/*    left: 25%;*/

/*}*/
div#div_reg2{


    /*position: relative;*/
    /*top:0%;*/
    /*left: 0%;*/
}
img.ipp{
    width: 550px;
    height: 550px;
}
.login_span{
    display: block;
    font-size: 39px;
    color: #fc8804;
    /*line-height: 1.2;*/
    text-align: center;
    padding-bottom: 49px;
}
/*.abd{*/
/*    color: #0000FF;*/
/*    font-size: 15px;*/
/*}*/
.wrap-input100 {
    width: 100%;
    position: relative;
    border-bottom: 2px solid #d9d9d9;
}
.validate-input {
    position: relative;
    margin-bottom: 23px;
}
.label-input100 {

    font-size: 14px;
    color: #aeb2b7;
    line-height: 1.5;
    padding-left: 7px;
}
.input100 {

    font-size: 16px;
    color: #aeb2b7;
    /*line-height: 1.2;*/

    display: block;
    width: 100%;
    height: 55px;
    background: transparent;
    padding: 0 7px 0 7px;
}

.text-right {text-align: right;}
input {
    outline: none;
    border: none;
}
.login_a{
    font-family: Poppins-Regular;
    font-size: 14px;
    line-height: 1.7;
    color: #aeb2b7;
    margin: 0px;
    transition: all 0.4s;
    text-decoration: none;
}
a.login_a:focus {
    outline: none !important;
}
a.login_a:hover {
    text-decoration: none;
    color: #fc8804;
}

.focus-input100::after {
    content: attr(data-symbol);
    color: #adadad;
    font-size: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    height: calc(100% - 20px);
    bottom: 0;
    left: 0;
    padding-left: 13px;
    padding-top: 3px;
}

.focus-input100::before {
    content: "";
    display: block;
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 2px;
    background: #fc8804;
    transition: all 0.4s;
}
.input100:focus + .focus-input100::before {
    width: 100%;
}

.has-val.input100 + .focus-input100::before {
    width: 100%;
}

.input100:focus + .focus-input100::after {
    color: #a64bf4;
}

.has-val.input100 + .focus-input100::after {
    color: #a64bf4;
}
.container-login100-form-btn {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.wrap-login100-form-btn {
    width: 100%;
    display: block;
    position: relative;
    z-index: 1;
    border-radius: 25px;
    overflow: hidden;
    margin: 0 auto;
    -ms-box-shadow: 0 5px 30px 0px rgba(3, 216, 222, 0.2);
}

.login100-form-btn {

    font-size: 30px;
    font-style: italic;font-family: Bold;
    color: #fff;
    line-height: 1.2;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    width: 100%;
    height: 50px;
    background-color: #fc8804;
}
.login100-form-btn:active{
    background-color: #f8a84f;
}
.wrap-login100-form-btn:hover .login100-form-bgbtn {
    left: 0;
}
/*.c12{*/
/*    outline: none !important;*/
/*    border: none;*/
/*    background: transparent;*/
/*}*/
