div#div_login{
    background-color: #f6b26b;
    padding: 10px 60px 0px 60px;
    border-radius: 30px;
}
div#staticBackdrop{

position: absolute;

    left: 25%;

}
div#staticBackdrop1{

    position: absolute;

    left: 25%;

}
div#div_reg2{


    /*position: relative;*/
    /*top:0%;*/
    /*left: 0%;*/
}
img.ipp{
    width: 550px;
    height: 550px;
}
.login_span{
    display: block;
    font-size: 39px;
    color: #333333;
    /*line-height: 1.2;*/
    text-align: center;
    padding-bottom: 49px;
}
/*.abd{*/
/*    color: #0000FF;*/
/*    font-size: 15px;*/
/*}*/
.wrap-input100 {
    width: 100%;
    position: relative;
    border-bottom: 2px solid #d9d9d9;
}
.validate-input {
    position: relative;
    margin-bottom: 23px;
}
.label-input100 {

    font-size: 14px;
    color: #333333;
    line-height: 1.5;
    padding-left: 7px;
}
.input100 {

    font-size: 16px;
    color: #333333;
    /*line-height: 1.2;*/

    display: block;
    width: 100%;
    height: 55px;
    background: transparent;
    padding: 0 7px 0 7px;
}

.text-right {text-align: right;}
input {
    outline: none;
    border: none;
}
a.login_a{
    font-family: Poppins-Regular;
    font-size: 14px;
    line-height: 1.7;
    color: #666666;
    margin: 0px;
    transition: all 0.4s;
    text-decoration: none;
}
a.login_a:focus {
    outline: none !important;
}
a.login_a:hover {
    text-decoration: none;
    color: #a64bf4;
}

.focus-input100::after {
    content: attr(data-symbol);
    color: #adadad;
    font-size: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    height: calc(100% - 20px);
    bottom: 0;
    left: 0;
    padding-left: 13px;
    padding-top: 3px;
}

.focus-input100::before {
    content: "";
    display: block;
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 2px;
    background: #7f7f7f;
    transition: all 0.4s;
}
.input100:focus + .focus-input100::before {
    width: 100%;
}

.has-val.input100 + .focus-input100::before {
    width: 100%;
}

.input100:focus + .focus-input100::after {
    color: #a64bf4;
}

.has-val.input100 + .focus-input100::after {
    color: #a64bf4;
}
.container-login100-form-btn {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.wrap-login100-form-btn {
    width: 100%;
    display: block;
    position: relative;
    z-index: 1;
    border-radius: 25px;
    overflow: hidden;
    margin: 0 auto;
    -ms-box-shadow: 0 5px 30px 0px rgba(3, 216, 222, 0.2);
}

.login100-form-bgbtn {
    position: absolute;
    z-index: -1;
    width: 300%;
    height: 100%;
    background: #a64bf4;
    background: -webkit-linear-gradient(right, #f6b26b, #b45f06, #f6b26b,#b45f06);
    background: linear-gradient(right, #00dbde, #fc00ff, #00dbde, #fc00ff);
    top: 0;
    left: -100%;
    transition: all 0.4s;
}

.login100-form-btn {

    font-size: 16px;
    color: #fff;
    line-height: 1.2;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    width: 100%;
    height: 50px;
}

.wrap-login100-form-btn:hover .login100-form-bgbtn {
    left: 0;
}
.c12{
    outline: none !important;
    border: none;
    background: transparent;
}
